@font-face {
    font-family: 'Brioni Pro Bold';
    src: url('../fonts/BrioniPro-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Brioni Pro Bold Italic';
    src: url('../fonts/BrioniPro-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Brioni Pro Light Italic';
    src: url('../fonts/BrioniPro-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Brioni Pro Regular';
    src: url('../fonts/BrioniPro-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Brioni Pro Medium';
    src: url('../fonts/BrioniPro-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Brioni Pro Light';
    src: url('../fonts/BrioniPro-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brioni Pro Medium Italic';
    src: url('../fonts/BrioniPro-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Brioni Pro Italic';
    src: url('../fonts/BrioniPro-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}
